*{
    background-color: rgb(253, 226, 184);
    font-family: 'Oswald', sans-serif;
}
div {
    color:brown;
}

h1 {
    margin: 10px;
}

h3 {
    margin: 10px;
}
p {
    margin: 10px;
}

span {
    display: grid;
    
    grid-template-columns: 10% 10% 10%;
}
button {
    color:rgb(255, 228, 194);
    margin: 10px;
    padding: 3px 9px;
    border:none;
    border-radius: 5px;
    background-color: rgb(255, 125, 85);
}
button:hover {
    background-color:rgb(252, 108, 64) ;
}
button:disabled {
    background-color:rgb(168, 168, 168) ;
}
input {
    margin: 10px;
    border-color: silver;
    background-color: seashell;
}