.widget {
    background:$widget-theme-color; 
    margin-bottom: $xl-size;
}

.widget__message {
    text-align: center;
    padding: $xl-size;
    color: $font-color-dark;
}

.widget-header {
    background: $widget-header-color;
    color:$font-color-light;
    padding: $s-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.widget-chance {
    display: flex;
    flex-direction: column;
    @media(min-width: $desktop-breakpoint){
        position: absolute;
        left: 365px;
    };
}
