html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-size:$m-size;
    background-color: $body-color;
}

button {
    font-family: $font;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}